@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color:#E9E8E8;
 
}

img {
  display: block;
  width: 100%;
}

.caption {
	color:#FFFFFF;
	font-style:italic;
	margin-top:-2rem;
	font-size:1rem;
	margin-left:2rem;
	background-color:rgba(0,0,0,.90);
}

.whole {
	background-color:#FFF;
	padding:1rem;
	border-radius:15px;
}


.info th,td {
	text-align:left;
	border-right:1px solid grey;
	padding-right:6em;
}

.info th {
	font-variant:small-caps;
	color:#7A7A7A;
}
