@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color:#E9E8E8;
 
}

img {
  display: block;
  width: 100%;
}

.caption {
	color:#FFFFFF;
	font-style:italic;
	margin-bottom:0;
	font-size:100%;
	bottom:0;
	background-color:rgba(0,0,0,.50);
	position:absolute;
	padding:1rem;
	width:100%;
	}
.fig {
	position:relative;
	margin:0;
	
}

.whole {
	background-color:#FFF;
	border-radius:15px;
}

.info {
	border-collapse:collapse; 
	
}
.info th,td {
	text-align:left;
	border-right:1px solid grey;
	padding-right:6rem;
}
 
.info th {
	font-variant:small-caps;
	color:#7A7A7A;
}

.info td:last-child {
	border:0;
	
}

.info th:last-child {
	border:0;
}